#root {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contribution-graph {
    display: grid;
    grid-template-columns: 17px 1fr;
    gap: 5px 3px;
}


.weeks-container {
    display: grid;
    grid-template-columns: repeat(51, 15px);
    gap: 2px;
    grid-column: 2;
}

.week-column {
    display: grid;
    gap: 2px;
    grid-template-rows: repeat(7, 15px);
}

.months-header {
    max-width: 847px;
    display: flex;
    justify-content: space-around;
    grid-column: 2;

    text-transform: capitalize;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    color: rgba(149, 148, 148, 1);
}

.day-cell {
    cursor: pointer;
}

.day-cell:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
